<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>HomePage</title>
</head>
<body>
  <%- include('./partials/navbar') %>

 Hi lets see if this works or not
 <%= JSON.stringify(user) %>


  <%- include('./partials/scripts') %>

</body>
</html>